In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import plotly.express as px

In [20]:
Store = pd.read_csv('C:/Users/LENOVO/Documents/Data Science/data-data percobaan/SuperStore Dataset/SuperStore_Sales_Dataset.csv')

# Data Exploration

In [21]:
Store.shape

(5901, 23)

In [22]:
Store.isnull().sum()

Row ID+O6G3A1:R6       0
Order ID               0
Order Date             0
Ship Date              0
Ship Mode              0
Customer ID            0
Customer Name          0
Segment                0
Country                0
City                   0
State                  0
Region                 0
Product ID             0
Category               0
Sub-Category           0
Product Name           0
Sales                  0
Quantity               0
Profit                 0
Returns             5614
Payment Mode           0
ind1                5901
ind2                5901
dtype: int64

In [23]:
Store.drop(['Returns','ind1','ind2','Row ID+O6G3A1:R6'], axis=1, inplace=True)

In [24]:
Store.head(5)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Payment Mode
0,CA-2019-160304,01-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,Online
1,CA-2019-160304,02-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.94,3,38.2668,Online
2,CA-2019-160304,02-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,East,TEC-PH-10000455,Technology,Phones,GE 30522EE2,231.98,2,67.2742,Cards
3,CA-2019-125206,03-01-2019,05-01-2019,First Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,California,West,OFF-ST-10003692,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,114.46,2,28.6150,Online
4,US-2019-116365,03-01-2019,08-01-2019,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,Texas,Central,TEC-AC-10002217,Technology,Accessories,Imation Clip USB flash drive - 8 GB,30.08,2,-5.2640,Online

In [25]:
Store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5901 entries, 0 to 5900
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       5901 non-null   object
 1   Order Date     5901 non-null   object
 2   Ship Date      5901 non-null   object
 3   Ship Mode      5901 non-null   object
 4   Customer ID    5901 non-null   object
 5   Customer Name  5901 non-null   object
 6   Segment        5901 non-null   object
 7   Country        5901 non-null   object
 8   City           5901 non-null   object
 9   State          5901 non-null   object
 10  Region         5901 non-null   object
 11  Product ID     5901 non-null   object
 12  Category       5901 non-null   object
 13  Sub-Category   5901 non-null   object
 14  Product Name   5901 non-null   object
 15  Sales          5901 non-null   float64
 16  Quantity       5901 non-null   int64
 17  Profit         5901 non-null   float64
 18  Payment Mode   5901 non-null   object
dtypes: float64(2), int64(1), object(16)
memory usage: 876.1+ KB

In [26]:
Store['Category'].value_counts()

Category
Office Supplies    3569
Furniture          1249
Technology         1083
Name: count, dtype: int64

In [27]:
Store.duplicated().sum()

0

In [28]:
Store['Order Date'] = pd.to_datetime(Store['Order Date'], format= "%d-%m-%Y")

In [29]:
Store['Ship Date'] = pd.to_datetime(Store['Ship Date'], format= "%d-%m-%Y")

In [30]:
Store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5901 entries, 0 to 5900
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       5901 non-null   object
 1   Order Date     5901 non-null   datetime64[ns]
 2   Ship Date      5901 non-null   datetime64[ns]
 3   Ship Mode      5901 non-null   object
 4   Customer ID    5901 non-null   object
 5   Customer Name  5901 non-null   object
 6   Segment        5901 non-null   object
 7   Country        5901 non-null   object
 8   City           5901 non-null   object
 9   State          5901 non-null   object
 10  Region         5901 non-null   object
 11  Product ID     5901 non-null   object
 12  Category       5901 non-null   object
 13  Sub-Category   5901 non-null   object
 14  Product Name   5901 non-null   object
 15  Sales          5901 non-null   float64
 16  Quantity       5901 non-null   int64
 17  Profit         5901 non-null   float64
 18  Payment Mode   5901 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(1), object(14)
memory usage: 876.1+ KB

In [31]:
Store['Month_Year'] = Store['Order Date'].dt.to_period('M')
Store['Month_Year'] = Store['Ship Date'].dt.to_period('M')

In [32]:
Store["Order Date"].dt.month 
Store["Ship Date"].dt.month

0       1
1       1
2       1
3       1
4       1
       ..
5896    1
5897    1
5898    1
5899    1
5900    1
Name: Ship Date, Length: 5901, dtype: int32

In [33]:
Store["Month_Order"]=Store["Order Date"].dt.month
Store["Month_Ship"]=Store["Ship Date"].dt.month

In [34]:
Store.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Payment Mode,Month_Year,Month_Order,Month_Ship
0,CA-2019-160304,2019-01-01,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,Online,2019-01,1,1
1,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.94,3,38.2668,Online,2019-01,1,1
2,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,...,Technology,Phones,GE 30522EE2,231.98,2,67.2742,Cards,2019-01,1,1
3,CA-2019-125206,2019-01-03,2019-01-05,First Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,California,...,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,114.46,2,28.6150,Online,2019-01,1,1
4,US-2019-116365,2019-01-03,2019-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,Texas,...,Technology,Accessories,Imation Clip USB flash drive - 8 GB,30.08,2,-5.2640,Online,2019-01,1,1

In [35]:
Store.to_excel('Store_Final1.xlsx',sheet_name='Store')